body {
  background-color: #181818;
  font-family: "Arimo";
}

.width-setter {
  margin: 0 auto;
  width: 100%;
  max-width: 930px;
}

.background {
  margin-top: 45px;
  padding: 60px 70px;
  background-color: #232323;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .width-setter {
    padding: 10px;
    max-width: 100%;
  }
}

.plate-box {
  margin: 80px 0 0 80px;
  display: flex;
}

.plate_item {
  padding: 10px 20px;
  border-radius: 200px;
  border: 1px solid #6532f8;
  background: #6532f8;
  font-size: 15px;
  color: #f3f6f9;
}

.app-title {
  margin: 20px 0 0 80px;
  font-size: 120px;
}

.movies-adder {
  display: flex;
  gap: 15px;
}

.input-for-moviename {
  padding-left: 5px;
  width: 100%;
  max-width: 410px;
  font-size: 30px;
  font-family: Arimo;
  color: #f3f6f9;
  border-bottom: 1px solid #f3f6f9;
}

.input-for-moviename::placeholder {
  color: #f3f6f9;
  font-size: 30px;
  font-family: Arimo;
  letter-spacing: -0.6px;
  opacity: 0.5;
}

.btn-movie-adder {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(./resources/btn-arrow.png), #6532f8;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-movie-adder:hover {
  background: url(./resources/btn-arrow.png), #5739b0;
  background-repeat: no-repeat;
  background-position: center;
}

.movie-items {
    margin-top: 20px;
}

.movie-item {
  display: flex;
  margin-top: 2px;
  padding: 0 20px;
  justify-content: space-between;
  height: 70px;
  border-radius: 10px;
  background: #3a3939;
}

.checkbox {
  position: absolute;
  /* display: none; 
  z-index: -1; */
  opacity: 1;
}

.label {
  margin: auto 0;
  margin-left: 40px;
  height: 20px;
  content: center;
}

.checkbox + label {
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}

.checkbox + label:before {
  margin-left: 10px;
  content: "";
  position: absolute;
  left: -48px;
  width: 18px;
  height: 18px;
  border: 1px solid #f3f6f9;
  border-radius: 50%;
}

.checkbox.hovered + label::before {
  background:rgba(101, 50, 248, 0.5) ;
}

.checkbox:checked + label:before {
  background: #6532f8;
}

.movie-name {
  font-size: 20px;
  color: #f3f6f9;
}

.btn-delete-item {
    margin: auto 0;
    width: 24px;
    height: 24px;
    background-image: url(./resources/btn-cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.3;
}

.btn-delete-item:hover {
    opacity: 0.6;
}

.checked {
    text-decoration: line-through;
    opacity: 0.5;
}

